<div class="shadow-lg overflow-hidden">
  <div class="flex border-b">

    <form-template [form]="formFields"/>
  </div>

</div>


<!--<div class="shadow-lg overflow-hidden">-->
<!--  <div class="flex border-b">-->
<!--    &lt;!&ndash; Selected product form &ndash;&gt;-->
<!--    <form-->
<!--      class="flex flex-col w-full">-->

<!--      <div class="flex flex-col sm:flex-row p-8">-->

<!--        &lt;!&ndash; Product images and status &ndash;&gt;-->
<!--        <div class="flex flex-col items-center sm:items-start mb-8 sm:mb-0">-->
<!--          <div class="flex flex-col items-center">-->
<!--            <div class="w-32 h-44 border rounded overflow-hidden">-->
<!--              <span class="flex items-center min-h-20 text-lg font-semibold">NO IMAGE</span>-->
<!--            </div>-->
<!--            <div-->
<!--              class="flex items-center mt-2 whitespace-nowrap">-->
<!--              <button-->
<!--                mat-icon-button>-->
<!--                <mat-icon-->
<!--                  class="icon-size-5"></mat-icon>-->
<!--              </button>-->
<!--              <span class="font-sm mx-2">1 of 1</span>-->
<!--              <button-->
<!--                mat-icon-button>-->
<!--                <mat-icon-->
<!--                  class="icon-size-5"></mat-icon>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="flex flex-col mt-8">-->
<!--            <span class="font-semibold mb-2">Product status</span>-->
<!--            <mat-slide-toggle>-->
<!--              Active-->
<!--              &lt;!&ndash;              disabled&ndash;&gt;-->
<!--            </mat-slide-toggle>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="flex flex-auto flex-wrap">-->
<!--          &lt;!&ndash; Name, SKU & etc. &ndash;&gt;-->
<!--          <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">-->

<!--            &lt;!&ndash; Name &ndash;&gt;-->
<!--            <mat-form-field class="w-full">-->
<!--              <mat-label>Name</mat-label>-->
<!--              <input-->
<!--                matInput>-->
<!--            </mat-form-field>-->

<!--            &lt;!&ndash; SKU and Barcode &ndash;&gt;-->
<!--            <div class="flex">-->
<!--              <mat-form-field class="w-1/3 pr-2">-->
<!--                <mat-label>SKU</mat-label>-->
<!--                <input-->
<!--                  matInput-->
<!--                >-->
<!--              </mat-form-field>-->
<!--              <mat-form-field class="w-2/3 pl-2">-->
<!--                <mat-label>Barcode</mat-label>-->
<!--                <input-->
<!--                  matInput-->
<!--                >-->
<!--              </mat-form-field>-->
<!--            </div>-->

<!--            &lt;!&ndash; Category, Brand & Vendor &ndash;&gt;-->
<!--            <div class="flex">-->
<!--              <mat-form-field class="w-1/3 pr-2">-->
<!--                <mat-label>Category</mat-label>-->
<!--                <mat-select>-->
<!--                  <mat-option value="1">-->
<!--                    1-->
<!--                  </mat-option>-->
<!--                </mat-select>-->
<!--              </mat-form-field>-->
<!--              <mat-form-field class="w-1/3 px-2">-->
<!--                <mat-label>Brand</mat-label>-->
<!--                <mat-select>-->
<!--                </mat-select>-->
<!--              </mat-form-field>-->
<!--              <mat-form-field class="w-1/3 pl-2">-->
<!--                <mat-label>Vendor</mat-label>-->
<!--                <mat-select>-->
<!--                </mat-select>-->
<!--              </mat-form-field>-->
<!--            </div>-->

<!--            &lt;!&ndash; Stock and Reserved &ndash;&gt;-->
<!--            <div class="flex">-->
<!--              <mat-form-field class="w-1/3 pr-2">-->
<!--                <mat-label>Stock</mat-label>-->
<!--                <input-->
<!--                  type="number"-->
<!--                  matInput>-->
<!--              </mat-form-field>-->
<!--              <mat-form-field class="w-1/3 pl-2">-->
<!--                <mat-label>Reserved</mat-label>-->
<!--                <input-->
<!--                  type="number"-->
<!--                  matInput>-->
<!--              </mat-form-field>-->
<!--            </div>-->
<!--          </div>-->

<!--          &lt;!&ndash; Cost, Base price, Tax & Price &ndash;&gt;-->
<!--          <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">-->
<!--            <mat-form-field class="w-full">-->
<!--              <mat-label>Cost</mat-label>-->
<!--              <span matPrefix>$</span>-->
<!--              <input-->
<!--                matInput>-->
<!--            </mat-form-field>-->
<!--            <mat-form-field class="w-full">-->
<!--              <mat-label>Base Price</mat-label>-->
<!--              <span matPrefix>$</span>-->
<!--              <input-->
<!--                matInput>-->
<!--            </mat-form-field>-->
<!--            <mat-form-field class="w-full">-->
<!--              <mat-label>Tax</mat-label>-->
<!--              <span matSuffix>%</span>-->
<!--              <input-->
<!--                type="number"-->
<!--                matInput-->
<!--              >-->
<!--            </mat-form-field>-->
<!--            <mat-form-field class="w-full">-->
<!--              <mat-label>Price</mat-label>-->
<!--              <span matSuffix>$</span>-->
<!--              <input-->
<!--                matInput-->
<!--              >-->
<!--            </mat-form-field>-->
<!--          </div>-->

<!--          &lt;!&ndash; Weight & Tags &ndash;&gt;-->
<!--          <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">-->
<!--            <mat-form-field class="w-full">-->
<!--              <mat-label>Weight</mat-label>-->
<!--              <span matSuffix>lbs.</span>-->
<!--              <input-->
<!--                matInput-->
<!--              >-->
<!--            </mat-form-field>-->

<!--            &lt;!&ndash; Tags &ndash;&gt;-->
<!--            <span class="mb-px font-medium leading-tight">Tags</span>-->
<!--            <div-->
<!--              class="mt-1.5 rounded-md border border-gray-300 dark:border-gray-500 shadow-sm overflow-hidden">-->
<!--              &lt;!&ndash; Header &ndash;&gt;-->
<!--              <div class="flex items-center -my-px py-2 px-3">-->
<!--                <div class="flex items-center flex-auto min-w-0">-->
<!--                  <mat-icon-->
<!--                    class="icon-size-5"></mat-icon>-->
<!--                  <input-->
<!--                    class="min-w-0 ml-2 py-1 border-0"-->
<!--                    type="text"-->
<!--                    placeholder="Enter tag name"-->
<!--                    [maxLength]="50"-->
<!--                    #newTagInput>-->
<!--                </div>-->
<!--                <button-->
<!--                  class="ml-3 w-8 h-8 min-h-8"-->
<!--                  mat-icon-button>-->
<!--                  <mat-icon-->
<!--                    class="icon-size-5"-->
<!--                  ></mat-icon>-->
<!--                  <mat-icon-->
<!--                    class="icon-size-5"></mat-icon>-->
<!--                </button>-->
<!--              </div>-->
<!--              &lt;!&ndash; Available tags &ndash;&gt;-->

<!--            </div>-->

<!--          </div>-->

<!--        </div>-->

<!--      </div>-->

<!--      <div class="flex items-center justify-between w-full border-t px-8 py-4">-->
<!--        <button-->
<!--          class="-ml-4"-->
<!--          mat-button>-->
<!--          Delete-->
<!--        </button>-->
<!--        <div class="flex items-center">-->
<!--          <div-->
<!--            class="flex items-center mr-4">-->
<!--            <ng-container>-->
<!--              <mat-icon-->
<!--                class="text-green-500"></mat-icon>-->
<!--              <span class="ml-2">Product updated</span>-->
<!--            </ng-container>-->
<!--            &lt;!&ndash;            <ng-container *ngIf="flashMessage === 'error'">&ndash;&gt;-->
<!--            &lt;!&ndash;              <mat-icon&ndash;&gt;-->
<!--            &lt;!&ndash;                class="text-red-500"&ndash;&gt;-->
<!--            &lt;!&ndash;                [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>&ndash;&gt;-->
<!--            &lt;!&ndash;              <span class="ml-2">An error occurred, try again!</span>&ndash;&gt;-->
<!--            &lt;!&ndash;            </ng-container>&ndash;&gt;-->
<!--          </div>-->
<!--          <button-->
<!--            mat-flat-button-->
<!--            [color]="'primary'">-->
<!--            Update-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->

<!--    </form>-->
<!--  </div>-->
<!--</div>-->
