<!--<mat-card @list>-->
<!--  <mat-card-content>-->

<!--  </mat-card-content>-->
<!--</mat-card>-->

<h4 class="my-2 text-sm font-semibold text-gray-800 dark:text-white">
  Your password must contain:
</h4>

<section @list>

  @if (passwordComponent.enableLowerCaseLetterRule) {
    <div @items class="flex">
      @if (passwordComponent.containAtLeastOneLowerCaseLetter) {
        <mat-icon @positiveState class="text-teal-500 mr-2">{{ matIconDone }}
        </mat-icon>
      } @else {
        <mat-icon @negativeState class="text-gray-500 mr-2">{{ matIconError }}</mat-icon>
      }

      <span [ngClass]="passwordComponent.containAtLeastOneLowerCaseLetter ? 'text-teal-500' : 'text-gray-500'"
            class="">{{ lowerCaseCriteriaMsg }}</span>
    </div>
  }
  @if (passwordComponent.enableUpperCaseLetterRule) {
    <div @items class="flex">
      @if (passwordComponent.containAtLeastOneUpperCaseLetter) {
        <mat-icon @positiveState class="text-teal-500 mr-2">{{ matIconDone }}</mat-icon>
      } @else {
        <mat-icon @negativeState class="text-gray-500 mr-2">{{ matIconError }}</mat-icon>
      }
      <span [ngClass]="passwordComponent.containAtLeastOneUpperCaseLetter ? 'text-teal-500' : 'text-gray-500'">{{ upperCaseCriteriaMsg }}</span>
    </div>

  }
  @if (passwordComponent.enableDigitRule) {
    <div @items class="flex">
      @if (passwordComponent.containAtLeastOneDigit) {
        <mat-icon @positiveState class="text-teal-500 mr-2">{{ matIconDone }}</mat-icon>
      } @else {
        <mat-icon @negativeState class="text-gray-500 mr-2">{{ matIconError }}</mat-icon>
      }
      <span [ngClass]="passwordComponent.containAtLeastOneDigit ? 'text-teal-500' : 'text-gray-500'">{{ digitsCriteriaMsg }}</span>
    </div>
  }

  @if (passwordComponent.enableSpecialCharRule) {
    <div @items class="flex">
      @if (passwordComponent.containAtLeastOneSpecialChar) {
        <mat-icon @positiveState class="text-teal-500 mr-2">{{ matIconDone }}</mat-icon>
      } @else {
        <mat-icon @negativeState class="text-gray-500 mr-2">{{ matIconError }}</mat-icon>
      }
      <span [ngClass]="passwordComponent.containAtLeastOneSpecialChar ? 'text-teal-500' : 'text-gray-500'">{{ specialCharsCriteriaMsg }}</span>
    </div>
  }

  @if (passwordComponent.enableLengthRule) {
    <div @items class="flex">
      @if (passwordComponent.containAtLeastMinChars) {
        <mat-icon @positiveState class="text-teal-500 mr-2">{{ matIconDone }}</mat-icon>
      } @else {
        <mat-icon @negativeState class="text-gray-500 mr-2" [ngClass]="">{{ matIconError }}</mat-icon>
      }
      <span [ngClass]="passwordComponent.containAtLeastMinChars ? 'text-teal-500' : 'text-gray-500'">{{ minCharsCriteriaMsg }}</span>
    </div>
  }

  @if (passwordComponent.customValidator) {
    <div @items class="flex">
      <div>
        @if (passwordComponent.containAtCustomChars) {
          <mat-icon @positiveState class="mr-2">{{ matIconDone }}</mat-icon>
        } @else {
          <mat-icon @negativeState class="custom-mat-error">{{ matIconError }}</mat-icon>
        }
      </div>
      <span class="text-gray-500">{{ customCharsCriteriaMsg }}</span>
    </div>
  }


  @if (enableScoreInfo) {
    <div @items class="flex">
      <div>
        @if (passwordComponent.strength === 100) {
          <mat-icon @positiveState class="mr-2">{{ matIconDone }}</mat-icon>
        } @else {
          <mat-icon @negativeState color="custom-mat-error">{{ matIconError }}</mat-icon>
        }
      </div>


      <span>Password's strength = {{ passwordComponent.strength }} %100</span>
    </div>

  }

</section>
